<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %>
</head>
<body>
<nav>
  <a href="/deals/">ALL DEALS</a>
  <a href="/deals/new">ADD DEALS</a>
  <a href="/profiles">DEALERS</a>
  <a href="/profiles">SAVED DEALS</a>
  <% if (user) { %>
    <a href="/auth/logout">LOGOUT</a>
  <% } else { %>
    <a href="/auth/google" class="siwg-link">
      <button type="submit" class="siwg">
        <img id="siwg-image" alt="Sign in with Google" />
      </button>
    </a>
  <% } %>
</nav>