html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #FAF3F3;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'Manrope', sans-serif;
  margin: 0;
}

nav {
  background-color: #DA7F8F;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h1, 
h2,
h3,
h4,
h5 {
  color: 	#1f3b61;
}

ul {
  list-style-type: none;
  margin-left: 0;
}

p, label, li, button, input {
  font-size: 18px;
}

label {
  font-weight: bold;
  margin: 10px 0;
}

section {
  padding: 50px;
}

pre {
  font-size: 14px;
}

nav > a {
  margin: 10px 30px;
  text-decoration: none;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2F4858;
}

nav > a:hover {
  color: whitesmoke;
}

.btn {
  margin: 16px 0;
}

.link {
  padding: 10px 0;
  font-size: 18px;
  display: inline-block;
}

.profile-avatar {
  margin-top: 50px;
  border-radius: 10px;
}

.card {
  width: 300px;
  margin: 10px;
  border-color: #DA7F8F;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-image {
  border-radius: 5px;
}

.card-columns {
  display: inline-block;
}

.sale-price {
  color: red;
}

.btn {
  width: 150px;
  margin: 10px auto;
}

.profile-cards {
  display: flex;
  flex-direction: row;
  background-color: #E1E5EA;
}

.all-deals-headers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all-deals-cards,
.saved-deals-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.add-deal-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-deal-btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #1b2e60;
  border-style: none;
}

.add-deal-btn:hover {
  background-color: #2e5cdc;
}

.btn-secondary {
  background-color: lightgrey;
  border-color: lightgrey;
}

#profile-avatar {
  display: flex;
  justify-content: center;
}

#index-profile-avatar {
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
}

#profile-saved-deals {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.details-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-label {
  margin: 0 auto;
}

.details-btns-grouping {
  display: flex;
  flex-direction: row;
}

.details-btn {
  margin: 10px;
}

.comment-text-area{
  width: 80%;
  max-width: 700px;
}

.comments-section,
.details-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}

.comment-card {
  width: 80%;
  max-width: 700px;
}

.btn-light {
  margin: 0;
}

.btn-light:hover {
  background-color: lightgrey;
}

.btn-success {
  background-color: rgb(34, 211, 34);
  border-color: rgb(34, 211, 34);
}

.comment-post {
  display: flex;
  flex-direction: row;
}

div > textarea {
  display: block;
  border-radius: 5px;
  width: 550px;
}

#profile-no-deals {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

.form-line {
  display: flex;
  flex-direction: row;
}

.form-line > h3 {
  width: 200px;
  text-align: end;
  margin-bottom: 10px;
}

.form-line > input {
  width: 350px;
  margin: 0 15px 10px;
  border-color: #DA7F8F;
  background-color: white;
  border-radius: 5px;
}