<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Deals!</h1>
  <h2>Retail therapy is the best form of therapy</h2>
  <% if (user) { %>
    <h2>Add a deal!</h2>
    <form action="/deals" method="POST">
      <label>
        Deal: 
        <input type="text" name="name" autocomplete="off">
      </label> 

    </form>
  <% } %>
</section>

<%- include('../partials/footer') %>