<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Deals!</h1>
  <h2>Retail therapy is the best form of therapy</h2>


  
</section>

<%- include('../partials/footer') %>