<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section class="add-deal-section">
  <h1>Deals!</h1>
  <h2>Retail therapy is the best form of therapy</h2>
  <% if (user) { %>
    <h2>Add a deal!</h2>
    <form class="new-deal-form" action="/deals" method="POST">
      <label>
        Deal Title: 
        <input type="text" name="name" autocomplete="off">
      </label>
      <br>
      <label>
        Original Price: $
        <input type="number" name="origPrice" autocomplete="off">
      </label>
      <br> 
      <label>
        Sale Price: $
        <input type="number" name="salePrice" autocomplete="off">
      </label>
      <br> 
      <label>
        Deal Link:
        <input type="url" name="storeLink" autocomplete="off">
      </label>
      <br> 
      <label>
        Details:
        <input type="text" name="details" autocomplete="off">
      </label>
      <br>
      <button class="add-deal-btn btn btn-primary" type="submit">Add Deal</button> 
    </form>
  <% } %>
</section>

<%- include('../partials/footer') %>